.heading {
    color:red;

}

.paris {
    background-color:beige;
}

#london-heading {
    background-color: pink;
}

span {
    padding: 0px 5px;
    border-top: 2px solid black 0px;
    border-bottom: 4px solid gray;

}

.paragraph {
    border: 10px lightgreen ridge;
    margin: 5px;
}